body {
    overflow: hidden;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-stroke);
    height: 100%;
}
