@import 'tailwindcss';

@theme {
    --color-background: #fffbff;
    --color-stroke: var(--color-neutral-900);
    --color-primary: var(--color-pink-500);
}

body {
    background-color: var(--color-background);
    color: var(--color-stroke);
}
