@import 'tailwindcss';

@theme {
    --color-background: #fffbff;
    --color-background-tinted: var(--color-pink-50);
    --color-stroke: var(--color-neutral-900);
    --color-stroke-tertiary: var(--color-neutral-300);

    --color-primary: var(--color-pink-500);
}

html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-stroke);
    height: 100%;
}
