@import 'tailwindcss';
@source '../../../';

@theme {
    --color-background: #fffbff;
    --color-background-tinted: var(--color-pink-50);
    --color-background-tinted-elevated: var(--color-pink-100);
    --color-stroke: var(--color-neutral-900);
    --color-stroke-tertiary: var(--color-neutral-300);

    --color-primary: var(--color-pink-500);
}

.rect-game-container {
    background-image: linear-gradient(
        var(--color-background-tinted), var(--color-background) 40%
    );
}
