@import 'tailwindcss';
@source '../../../';

@theme {
    --color-background: #fffbff;
    --color-background-tinted: var(--color-pink-50);
    --color-background-tinted-elevated: var(--color-pink-100);
    --color-stroke: #171717;
    --color-stroke-tertiary: var(--color-neutral-300);
    --color-stroke-tinted: #69003a;

    --color-primary: #FF267D;
}

.rect-game-container {
    background-image: linear-gradient(
        var(--color-background-tinted), var(--color-background) 40%
    );
}
