@import url('@/demo/assets/styles/normalize.css');

body {
    overflow: hidden;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(138, 138, 138);
    height: 100vh;
}
