@import url('@/demo/assets/styles/normalize.css');

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameCanvas {
    border: 1px solid rgb(138, 138, 138);
}
